/* ProfilePage.css */

.profile-page {
  margin: 80px 20px 20px 20px; /* Margin to account for fixed AppBar */
}

.user-info {
  margin-bottom: 20px;
}

.logout-button {
  background-color: #f44336; /* Red color for logout button */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.logout-button:hover {
  background-color: #d32f2f; /* Darker red on hover */
}
